# Autenticación y Seguridad
JWT_SECRET=pmv-secret-key-cambiar-en-produccion
JWT_EXPIRES_IN=7d

# Base de Datos
SUPABASE_URL=tu_supabase_url_aqui
SUPABASE_PUBLISHABLE_KEY=tu_supabase_key_aqui

# Variables globales
NODE_ENV=development
PORT=3000
